<div class="card card-default">
	<div class="card-header d-flex align-items-center" data-toggle="collapse" data-target="#supplier-info" aria-expanded="true" aria-controls="supplier-info" style="cursor: pointer;">
		<div class="card-title">
			<i class="fas fa-industry"></i>
			Supplier
		</div>
		<div class="ml-auto">
			<i class="fa fa-chevron-down toggle-icon"></i>
		</div>
	</div>
	<div id="supplier-info" class="collapse show">
		<div class="card-body">
			<div class="form-group row">
				<div class="col-md-12">
					<p>Suppliers are the individuals or companies that provide products to your store. For example, if you're selling electronics, you might have different suppliers for mobile phones, laptops, or accessories. Assigning a supplier to a product helps track where your inventory is sourced from and can simplify communication and reordering. You can add suppliers in Suppliers and assign them to products from the product edit page. Managing suppliers can help streamline your supply chain and maintain accurate product sourcing information.</p>
					<div class="card">
						<div class="card-body">
							You need to save the product before you can add supplier for this page.
						</div>
					</div>
					@* <p>You need to save the product before you can add supplier for this page.</p> *@
				</div>
			</div>
		</div>
	</div>
</div>